
body{
  background-color: blueviolet;
}
.audio{

  background: #f4008a;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: black;
  border: 1px solid #fff;
  padding: 10px 20px;
  font-size: 20px;
  justify-content: center;
}
.video{
  background: #f4008a;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: black;
  border: 1px solid #fff;
  padding: 10px 20px;
  font-size: 20px;
  justify-content: center;
}
.typewriter{
  width: 28ch;
  animation: typing 6s steps(28) forwards, blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
}
.hero-btn{
  background: #f4008a;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: black;
  border: 1px solid #fff;
  padding: 5px 10px;
  font-size: 15px;

}
@keyframes typing{
  0%, 100%{
    width: 0;
  }
  50%{
    width: 28ch;
  }
}
@keyframes blink{
  50%{
    border-color: transparent;
  }
}